@import '../mixins';
.header{
  @include flexRow();
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: 64px;
}

.header-nav__image{
  width: 40px;
  height: 40px;
}

.header-nav__list{
  @include flexRow();
  gap: 20px;
  list-style: none;
}
.header-nav__item{
  font-size: 20px;
}
.header-nav-link{
  cursor: pointer;
}

@media (max-width: 480px) {
  .header{
    height: 35px;
  }

  .header-nav__image{
    width: 24px;
    height: 24px;
  }

  .header-nav__list{

  }

  .header-nav__item{
    font-size: 16px;
  }
}