@import '../mixins';

.change-password__form{
  @include flexCol();
  gap: 10px;
  padding: 20px;
}

.change-password__input{
  height: 35px;
  border-radius: 12px;
  border: 1px solid black;
  padding-left: 10px;
  width: 100%;
  font-size: 14px;
  padding-right: 5px;
}

.change-password__form button{
  margin-top: 5px;
  height: 40px;
  background-color: #000000;
  padding: 10px;
  color: white;
  border-radius: 12px;
  cursor: pointer;
  font-size: 16px;
}

.change-password__form button:active{
  background-color: white;
  color: black;
}